<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quiz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/quiz.css">
    </head>
    <body>
        <div class="background">
            
            <!-- <div class="shape"></div> -->
        </div>
        <div class="container"  style="margin: 0 auto;">
        <p><%= Question %></p>
            <input type="hidden" id="selectedOption" name="selectedOption" value="">
            <button id="b1" value="<%= option1 %>" name="list" onclick="optionSelected(this, '<%= correct_option %>')"><%= option1 %></button>

            <button id="b2" value="<%= option2 %>" name="list" onclick="optionSelected(this, '<%= correct_option %>')"><%= option2 %></button>

            <button id="b3" value="<%= option3 %>" name="list" onclick="optionSelected(this, '<%= correct_option %>')"><%= option3 %></button>

            <button id="b4" value="<%= option4 %>" name="list" onclick="optionSelected(this, '<%= correct_option %>')"><%= option4 %></button>

            <form class="item" action="/quiz" method="get">
            <button type="submit" name="list" id="sendDataBtn">NEXT</button>
            </form>
        </div>
    </body>
    <script src="javascript/play.js"></script>
    <!-- <script src="javascript/trial.js"></script> -->
    
</html>